body{
	margin: 0;
	padding: 0;
	background-color: #fef8ee;
}
.center-block{
	max-width: 900px;
	margin: 0 auto;
}
header{
	font-size: 1.4em;
	background-color: #90dba8;
	overflow: hidden;
	position: relative;	
}
.logo{
	display: inline-block;
	visibility: visible;
}
.logo p{
	display: inline-block;
	
	margin: 15px 0;
	color: #313473;
}
.logo img{
	vertical-align: middle;
	
}
.menu{		
	float: right;
	padding: 10px; 	
}
nav{

	display: inline-block;
}
.autoriz{
	float: right;
	margin-left: 30px;
	width: 200px;
	/*background-color: #8fc094;*/
	display: inline-block;
}
.autoriz div{
	float: left;	
	font-size: 0.7em;
	font-weight: bolder;
	color: #313473;
	padding-left: 8px;
	border-left: 2px solid #313473; 

}
.autoriz button{
	float: right;
	margin-left: 10px;
}

button{
	font-size: 0.7em;
	/*font-weight: bold;*/
	padding: 5px;
	border: 2px solid white;
	color: white;
	font-family: cursive;
}
.btn-autoriz{
	background-color: #6eaa77;
	margin-bottom: 10px;
	}
.btn-autoriz:hover{
	background-color: #7cc669;
	
}
nav button{
	background: linear-gradient(to top, #3c8d89, #5bc9c5);
	/*background-color: #22b8b3;*/
}
nav button:hover{
	background: linear-gradient(to top,  #3c8d89, #6ae6ce);
}
section{
	margin-top: 30px;
	background-color: #e2f3c4;
	padding: 10px 30px;
	font-size: 1.2em;
	color: #4f305c;
	border-radius: 10px;
}
h1{
	color: #7a326a;
}
h2{
	font-size: 1.3em;
	color: #7a326a;
}
.autorisation{
	max-width: 200px; 
	font-size: 1.2em;
	margin: 30px auto 100px auto;

}
.autorisation input{
	width: 100%;
	margin-bottom: 15px;
	box-sizing: border-box;
	padding: 5px;
}
footer{
	margin-top: 20px;
	min-height: 50px;
	background-color: #c0e6d1;
	padding: 20px 0;
}
footer button{
	background-color: #6077af;
}

@media screen and (max-width: 890px){
	.logo{	
		margin: 10px 0;
	}
	.logo p{		
	display: none;
	}
	
}
@media screen and (max-width: 670px){
	.logo{
		
		position: absolute;
		top: 0;
		left: 0;

	}	
	nav{
		float: left;
		margin-left: 30px;
		margin-top: 5px; 
	}
}
@media screen and (max-width: 450px){
	nav{

		margin-left: 0px;
	}
	button{
		font-size: 0.65em;
	}
	section{
		padding: 5px 10px;
	}
}